.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.text {
  flex: 0 1 auto;
  padding: 0 5em 5em;
  font-size: 20px;
  text-align: center;

  .quote {
    font-style: italic;
  }

  .author {
    padding-top: 5px;
    font-weight: bold;
  }
}

.heart_container {
  flex: 1 0 auto;
  display: flex;
}

.heart {
  margin: auto;
  background: red;
  height: 100px;
  width: 100px;
  /* Animation */
  animation: pulse 2s linear infinite;
  cursor: pointer;
}

.heart::after {
  /* background:blue; */
  background: inherit;
  border-radius: 50%;
  /* To make circle */
  content: "";
  position: absolute;
  top: -50%;
  left: 0;
  height: 100px;
  width: 100px;
}

.heart::before {
  /*  background:green; */
  background: inherit;
  border-radius: 50%;
  /* To make circle */
  content: "";
  position: absolute;
  top: 0;
  right: -50%;
  /* Inherit properties of parent */
  height: 100px;
  width: 100px;
}

@keyframes pulse {
  0% {
    transform: rotate(-45deg) scale(1);
    opacity: 0;
  }

  50% {
    transform: rotate(-45deg) scale(1.3);
    opacity: 1;
  }

  100% {
    transform: rotate(-45deg) scale(1);
    opacity: 1;
  }
}