.MuiBottomNavigation-root {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
}

.quizy_logo {
  color: white;
  border-color: white;
}

.quizy_logo_container {
  color: white;
  border-color: white;
  border-radius: 1em;
}

.audio_switch {
  display: flex;
  font-size: 1.5rem;
  align-items: center;
}

.audio_emoji{
  margin-top: 20px;;
}

