.quiz-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.play_again_btn {
   margin: 5%; 
  width: 50%;
   display: flex;
  justify-content: space-around;
  padding-bottom: 15px; 
}
