.achievement-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 80%;
  border-radius: 20px;
  padding: 10px;
  max-height: 10%
}

.achievement-chip{
  min-width: 30%;
}

.achievement-pie{
width: 100px;
}

.achievement-text{
display: flex;
flex-direction: column;
align-items: center;
}
