.option-container {
  display: flex;
  justify-content: center;
  display: inline-block;
  width: 50%;
  font-size: 20px;
  margin: -0.5rem, auto;
  outline: none;
  box-shadow: none;
  background-color: transparent;
  height: 190px;
  text-align: center;

  margin-top: 25px;
  font-size: 21px;
  text-align: center;
  animation: fadein 2s;

  -webkit-animation: fadein 1.5s; /* Safari and Chrome */

}

@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
      opacity:0;
  }
  to {
      opacity: 1;
  }
}

.option-btn {
  width: 90%;
  height: 80%;
  max-width: 90%;
  max-height: 80%;
}

#option-button-id {
  font-size: 22px;
  font-family: "Blinker", sans-serif;
  line-height: 22px
}
