.page_container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.buttons_container {
    display: flex;
    align-items: center;
    max-height: 100%;
    width: 90%;
    justify-content: space-around;
}

.yes_no_btn_container {
    margin: 5%;
    width: 50%;
    display: flex;
    justify-content: space-around;
}