.mate-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 40%;
    margin: 2%;
    padding: 2% ;
    border-radius: 8px;
    background-color: white;
    width: 40%;
    height: 30%;
    position: relative;
}

.card-avatar-container{
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-basis: 30%;
}

.card-avatar-img{
    border-radius: 50%;
    max-width: 50%;
}

.card-content{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 100%;
}

.card-content h1{
    font-size: 1.5rem;
    margin-top: 10%;
}

.card-content h1, .card-content h2, .card-content h3, .card-content p{
    text-align: center;
}

.card-content p{
    font-size: 1.1rem;
}

.match-tag{
    background-color: #d96895;
    color: antiquewhite;
    padding: 3px 5px;
    border-radius: 5px;
    display: block;
    position: absolute;
    top:-3px;
    left: -7px;
}

.match{
    box-shadow: 2px 2px 4px gray;
}

.match:active{
    box-shadow: none;
}

.open{
    box-shadow: none;
    background-color: #f9cfe0;
    box-shadow: 2px 2px 4px gray inset;
}

.open .card-content {
    font-weight: 600;
}

.card-content h1{
    font-weight: 500;
}

.open .card-content{
    display: flex;
    justify-content: space-around;
}