.progress-bar-container {
  width: 95%;
  padding-left: 2%;
  padding-top: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: flex-start;
}

.MuiLinearProgress-root {
  width: 90%;
}

.heart-icon {
  font-size: 5rem;
	border-radius: 50%;
	margin: 10px;
	height: 20px;
	width: 20px;

	box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(2);
	animation: pulse 1.5s infinite;
}

/*  @keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}  */
