.progress-bar-container{
    width: 100%;
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: flex-start;
}

.MuiLinearProgress-root{
    width: 90%;
}

.heart-icon{
    font-size: 5rem;
}
