.profile_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 100%;
    width: 90%;
    justify-content: space-around;
}

.logout_btn{
    display: absolute;
}

.profile_top_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20%;
    margin: 2% 0;
}

.profile_picture_container{
    overflow: hidden;   
    display: flex;
    justify-content: center;
    flex-basis: 90%;
}

.info_container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.info_field_container{
    margin: 3% 0;
    display:flex;
    align-items: center;
    justify-content: center;
    width: 70%;
}

.info_field_container input{
    padding: 5%;
}

.gender_select{
    flex-basis:60%;
    margin-right: 3%;
}

.gender_select div {
    padding: 10%;
}

.age_select {
    width: 50%;
}

.age_select > div{
    padding: 8%;
}

.profile_picture{
    border: 6px solid rgb(255, 92, 144);
    border-radius: 50%;
    max-width: 100%;
}

.preferences_container{
    width: 95%;
    max-width: 300px;
}

.pref_field_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.rel_pref{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pref_age_slider_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-width: 65%;
}

.pref_age_slider{
   width: 60%;
   margin: 0 15px;
}

.pref_age_label{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: flex-end;
    color: rgb(255, 58, 121);
}

.pref_gender_select{
    width: 40%;
}

.pref_gender_select div{
    padding: 8%;
 }

.save_cancel_btn_container{
    margin: 5%;
    width: 50%;
    display: flex;
    justify-content: space-around;
}

#age{
    border-color: red;
}